# Workshop Pandas

In [8]:
from numpy import array

numpyArray = array([1, 2, 3])
newNumArray = numpyArray * 0.5
print(numpyArray.dtype)
print(newNumArray.dtype)

int32
float64

In [ ]:
lista = [1, 2, 3]
novaLista = lista * 2
print(novaLista)

In [11]:
import pandas as pd

cliente = pd.read_csv("db/Contoso - Clientes.csv")
cliente.head(3)

      ID Cliente;Primeiro Nome;Sobrenome;E-mail;Genero;Numero de Filhos;Data de Nascimento;;;;
0      1;Garnet;Lanfranchi;glanfranchi0@mayoclinic.co...
1      2;Lurette;Roseblade;lroseblade1@bigcartel.com;...
2      3;Glenden;Ishchenko;gishchenko2@moonfruit.com;...
3      4;Baron;Jedrzejewsky;bjedrzejewsky3@e-recht24....
4      5;Sheree;Bredbury;sbredbury4@sitemeter.com;Fem...
...                                                  ...
39499  39500;Brandy;Malhotra;brandy0@adventure-works....
39500  39501;Alicia;Raje;alicia12@adventure-works.com...
39501  39502;Connie;Rai;connie4@adventure-works.com;F...
39502  39503;Shawn;Raji;shawn23@adventure-works.com;M...
39503  39504;Lindsey;Sharma;lindsey10@adventure-works...

[39504 rows x 1 columns]